@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
body {
    background-image: url(../images/contact-us-bg2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: 'Slabo 27px', serif;
    font-size: 14px;
    line-height: 24px;
    color: #666;
    background-color: #fff;
}

body.no-bg {
    background-image: none !important;
}


/**************sample*********************/

.adminpage {
    width: 50%;
}

.admin-login h5 {
    color: #337ab7;
    font-size: 24px;
    margin-bottom: 0;
}

.recent-bits {
    margin-top: 50px;
    margin-left: -100px;
}

.admin-loginbtn .btn-success {
    margin-top: 20px;
    background-color: #F44336;
    height: 31px;
    padding-top: 3px;
    font-size: 17px;
    margin-right: 20px;
    position: relative;
    border-radius: 0;
    border: none;
}

.admin-page .btn-submit {
    font-size: 17px;
    background-color: #F44336;
    padding-top: 8px;
    border-radius: 0;
    border: none;
}

.admin-loginbtn .btn-success:hover {
    background-color: rgba(233, 30, 99, 0.93);
}

.detail-form {
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.detail-form #contact-form .con-form {
    border-color: #F44336;
}

.admin-page .form-group {
    margin-bottom: 20px;
}

.timer {
    color: #fff;
    padding: 10px;
    position: relative;
    margin: 0 auto;
    font-size: 30px;
    padding-top: 15px;
}

.adminpagelogin {
    margin-top: 100px;
}

.loginadmin {
    width: 700px;
}

.adminheading {
    font-size: 35px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
}

.adminpagelogin .detail-form #contact-form .con-form {
    border-color: #fff;
    background: rgba(255, 255, 255, 0.7);
    height: 36px;
    border-radius: 0;
    font-size: 13px;
    color: #000;
}

.adminpagelogin .con-form textarea {
    color: #000;
}

.adminpagelogin .con-form input {
    color: #000;
}

.con-form::-webkit-input-placeholder {
    color: #000;
    font-size: 14px;
}

.recent-bg {
    background-color: #fff;
    height: 265px;
}

.recent-bg h3 {
    margin: 0;
    color: #000;
    text-align: left;
    padding-top: 10px;
    font-size: 21px;
    padding-left: 15px;
    margin-bottom: 5px;
    background-color: #e6e6e6;
    padding-bottom: 10px;
}

.recent-bg .animation {
    padding: 0 15px 15px 15px;
}

.recent-bg .animation p {
    margin: 0;
}

.recent-bg .animation p span {
    color: #000;
    display: inline-block;
    margin-right: 10px;
    text-transform: capitalize;
}

.login {
    text-align: center;
    position: relative;
    width: 300px;
    margin: 0 auto 0 auto;
    background-color: #fff;
    padding: 20px 30px 10px 30px;
    margin-top: 150px;
}

.login form {
    margin: 0;
    padding: 0;
}

.login form .form-control {
    border-radius: 0;
}

.login form .btn-success {
    background-color: #F44336;
    height: 31px;
    padding-top: 2px;
    font-size: 17px;
    border-radius: 0;
    border: none;
}

@media (min-width:320px)and (max-width:480px) {
    .adminheading {
        font-size: 22px;
        color: #fff;
        text-align: left;
        margin-bottom: 30px;
        position: relative;
    }
    .adminpagelogin {
        margin-top: 77px;
    }
    .adminpagelogin .detail-form #contact-form .con-form {
        width: 100%;
    }
    .recent-bg {
        width: 100%;
    }
    .timer {
        width: 88%;
        font-size: 18px;
        padding-top: 4px;
        text-align: center;
    }
    .detail-form {
        border-bottom: none;
    }
    .loginadmin {
        width: 90%;
    }
    .bgimage {
        background-attachment: fixed;
    }
    .socialadmin {
        display: none;
    }
    .submit-mb {
        text-align: center;
    }
}